{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
<header id="header">
    <div class="wrapper">
        <label class="logo">Home School</label>
    </div>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="About">About</a></li>
            <li><a href="Services">Services</a></li>
            <li><a href="Contact">Contact</a></li>
            <li><a href="Contact">Feedback</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <center>
        <h1>About Us..</h1>
        <div class="bg">

        </div>
        <p>We trying to make a new platform that will<br>
            provide you educational process online <br>
            that you can utilize everywhere you want<br>
            with your moble devices.we make sure that every<br>
            notes and classes are send, everything is updated<br>
            at time.Please come and explore our platform.</p>
    </center>
</div>
</body>
</html>