<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student management system</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<header id="header">
    <div class="wrapper">
        <label class="logo">Home School</label>
    </div>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul>
            <li><a href="">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="contact">Feedback</a></li>
        </ul>
    </nav>
    <div class="text">
        <h1>We ensure your education</h1>
        <p>We make it available at everywhere you need</p>
        <div class="form-1">
            <form action="signin" method="post">
                {% csrf_token %}
                <input type="submit" value="Sign Up">
            </form>
            <form action="loginn" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" value="Login">
            </form>
        </div>
    </div>
</header>

</body>
</html>