<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registerlogin.css' %}">

</head>
<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title student">Student Login</div>
        <div class="title teacher">Teacher Login</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="student" checked>
            <input type="radio" name="slide" id="teacher">
            <label for="student" class="slide student">Student</label>
            <label for="teacher" class="slide teacher">Teacher</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form action="DoLogin" method="post" class="student">
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="message">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}

                </div>
                <div class="field">
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">Not a member?
                <a href="SignIn">Signup Now</a></div>
            </form>
            <form action="DoTeacherLogin" method="post" class="teacher">
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="message">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <div class="field">
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">Not a member?
                <a href="SignIn">Signup Now</a></div>
            </form>
        </div>
    </div>
</div>
<script>
    const studentForm = document.querySelector("form.student");
    const studentBtn = document.querySelector("label.student");
    const teacherBtn = document.querySelector("label.teacher");
    const studentText = document.querySelector(".title-text .student");

    studentBtn.onclick = function(){
        studentForm.style.marginLeft= "0%";
        studentText.style.marginLeft = "0%";
        };
    teacherBtn.onclick = function (){
        studentForm.style.marginLeft = "-50%";
        studentText.style.marginLeft = "-50%";
        };

</script>
</body>
</html>