*{
    margin: 0;
    padding: 0;
}
html,body{
    display: grid;
    height:100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/image1.jpg');
}
.wrapper{
    max-width: 390px;
    background: #ffffff;
    overflow: hidden;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}
.wrapper .title-text .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.wrapper .form-container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 98%;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid lightgrey;
    overflow: hidden;
}
.slide-controls .slide{
    height:100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    color:#ffffff;
    transition: all 0.6s ease;
}
.slide-controls .teacher{
    color: #000;
}
.slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    background: -webkit-linear-gradient(left,#000000,#1a1e21);
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input{
    height: 100%;
    width: 95%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}
.form-inner form .field input:focus{
    border-color:#333333 ;
}
.form-inner form .pass-link{
    margin-top: 5px;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: grey;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
.form .message{
    font-size: 12px;
    color: darkslategrey;
    margin: 10px 30px;
}

form .field input[type="submit"]{
    background: black;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
input[type="radio"]{
    display: none;
}
#teacher:checked ~ .slider-tab{
    left: 50%;
}
#teacher:checked ~ label.teacher{
    color:#ffffff;
    cursor: default;
    user-select: none;
}
#teacher:checked ~ label.student{
    color: #000;
}
#student:checked ~ label.teacher{
    color: #000;
}
#student:checked ~ label.student{
    cursor: default;
    user-select: none;
}
